@model eindwerk.Entities.Locatie

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h1>Create</h1>

<h4>Locatie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VoorraadPlaatsen" class="control-label"></label>
                <input asp-for="VoorraadPlaatsen" class="form-control" />
                <span asp-validation-for="VoorraadPlaatsen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oppervlakte" class="control-label"></label>
                <input asp-for="Oppervlakte" class="form-control" />
                <span asp-validation-for="Oppervlakte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoortRuimte" class="control-label"></label>
                <input asp-for="SoortRuimte" class="form-control" />
                <span asp-validation-for="SoortRuimte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

