@model eindwerk.Entities.Kennisgebieden

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Kennisgebieden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SpecialisatieId" />
            <div class="form-group">
                <label asp-for="KorteOmschrijving" class="control-label"></label>
                <input asp-for="KorteOmschrijving" class="form-control" />
                <span asp-validation-for="KorteOmschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LangeOmschrijving" class="control-label"></label>
                <input asp-for="LangeOmschrijving" class="form-control" />
                <span asp-validation-for="LangeOmschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoortKennisgebied" class="control-label"></label>
                <input asp-for="SoortKennisgebied" class="form-control" />
                <span asp-validation-for="SoortKennisgebied" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
