@model eindwerk.Entities.Interventies


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Interventies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Omschrijving" class="control-label"></label>
                <textarea maxlength="250" asp-for="Omschrijving" rows="5" class="form-control" required /></textarea>

                <span asp-validation-for="Omschrijving" class="text-danger"></span>
            </div>





            <div class="form-group">
                <label asp-for="PrioriteitId" class="control-label"></label>
                <select asp-for="PrioriteitId" class="form-control" asp-items="ViewBag.PrioriteitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ToestelId" class="control-label"></label>
                <select asp-for="ToestelId" class="form-control" required asp-items="ViewBag.ToestelId"></select>
            </div>
            <div class="form-group">

                <label asp-for="ToestelId" class="control-label">Locatie</label>
                <select asp-for="ToestelId" class="form-control" asp-items="ViewBag.LocatieId"></select>
                
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
