@model eindwerk.Entities.Interventies

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Interventies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InterventieId" />
            <div class="form-group">
                <label asp-for="Complexiteit" class="control-label"></label>
                <input asp-for="Complexiteit" class="form-control" />
                <span asp-validation-for="Complexiteit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meldingsdatum" class="control-label"></label>
                <input asp-for="Meldingsdatum" class="form-control" />
                <span asp-validation-for="Meldingsdatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Omschrijving" class="control-label"></label>
                <input asp-for="Omschrijving" class="form-control" />
                <span asp-validation-for="Omschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Einddatum" class="control-label"></label>
                <input asp-for="Einddatum" class="form-control" />
                <span asp-validation-for="Einddatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duur" class="control-label"></label>
                <input asp-for="Duur" class="form-control" />
                <span asp-validation-for="Duur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verwachtteoplossingstermijn" class="control-label"></label>
                <input asp-for="Verwachtteoplossingstermijn" class="form-control" />
                <span asp-validation-for="Verwachtteoplossingstermijn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OmschrijvingOplossing" class="control-label"></label>
                <input asp-for="OmschrijvingOplossing" class="form-control" />
                <span asp-validation-for="OmschrijvingOplossing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersoneelsId" class="control-label"></label>
                <select asp-for="PersoneelsId" class="form-control" asp-items="ViewBag.PersoneelsId"></select>
                <span asp-validation-for="PersoneelsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrioriteitId" class="control-label"></label>
                <select asp-for="PrioriteitId" class="form-control" asp-items="ViewBag.PrioriteitId"></select>
                <span asp-validation-for="PrioriteitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToestelId" class="control-label"></label>
                <select asp-for="ToestelId" class="form-control" asp-items="ViewBag.ToestelId"></select>
                <span asp-validation-for="ToestelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestelId" class="control-label"></label>
                <select asp-for="BestelId" class="form-control" asp-items="ViewBag.BestelId"></select>
                <span asp-validation-for="BestelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
